<!-- FOOTER -->
<footer class="py-3 text-center fixed-bottom" style="text-align: center; border: 1px solid; width: 100%; margin: 10px">
  <div class="container-sm">
    <a href="#">Share</a>
    <%= link_to "Invite", invites_path %>
    <%= link_to "Lottery", lotteries_path %>
    <a href="#">Shop</a>
    <%= link_to "Me", addresses_path %>
    <p class="float-end"><%= link_to "Back to the top", "#" %></p>
  </div>
</footer>